*{ margin: 0; padding: 0; }
.dangky, .dangnhap {
	width: 550px;
	height: 550px;
	background: #f7f7f7;
	border: 1px solid gray;
	padding: 20px;
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.nutso1, .nutso2 {
	float: right;
}