*{
	margin: 0;
	padding: 0;
}

.apple {
	width: 1111px;
	height: 700px;
	position: relative;
	margin: auto;
}

.anhslide {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
	text-align: center;
	background: #000;
    perspective: 2000px;
}

._1slide {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.active {
	opacity: 1;
	visibility: visible;
}
.prev {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 50%;
	cursor: pointer;
}

.next {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 50%;
	cursor: pointer;
}

.nutslide {
	width: 100%;
	text-align: center;
}
.nutslide li {
	list-style: none;
	float: left;
	width: 15px;
	height: 15px;
	margin: 10px;
	background-color: gray;
	border-radius: 50%;
	text-indent: -9999px;
	cursor: pointer;
	transition: .4s;
	border: 1px solid #fff;
}
.nutslide ul {
	display: inline-block;
}
.nutslide li:hover {
	background-color: #000;
}



._1slide.bienmatobentrai {
	animation: bienmatobentrai .4s forwards;
	transform-origin: 0 0;
}
@-webkit-keyframes bienmatobentrai {
	from {
		transform: translateX(0);
		visibility: visible;
		opacity: 1;
		transform: rotateY(0deg);
	}
	to { 
		transform: translateX(-100%);
		visibility: hidden;
		opacity: 0;
		transform: rotateY(45deg);
	}
}
._1slide.bienmatobenphai {
	animation: bienmatobenphai .4s forwards;
	transform-origin: 100% 0;
}
@-webkit-keyframes bienmatobenphai {
	from {
		transform: rotateY(0deg);
		visibility: visible;
		opacity: 1;
		
	}
	to { 
		transform: rotateY(-30deg);
		visibility: hidden;
		opacity: 0;
	}
}
._1slide.divaotubenphai {
	animation: divaotubenphai .4s forwards;
}
@-webkit-keyframes divaotubenphai {
	from { 
		left: 100%;
		visibility: hidden;
		opacity: 0;
	}
	to { 
		left: 0;
		visibility: visible;
		opacity: 1;
	}
}
._1slide.divaotubentrai {
	animation: divaotubentrai .4s forwards;
}
@-webkit-keyframes divaotubentrai {
	from { 
		left: -100%;
		visibility: hidden;
		opacity: 0;
	}
	to { 
		left: 0;
		visibility: visible;
		opacity: 1;
	}
}

.nutslide li.xanh {
	background: none;
	border: 1px solid blue;
}