*{ margin: 0; padding: 0; }
body {
	background: url('../images/bg.PNG');
	font-family: segoe ui light;
}
.container {
	text-align: center;
}
.hieuung {
	width: 400px;
	margin: auto;
	margin-top: 100px;
}
.motkhoi h3 {
	color: white;
	background: #f39c12;
	padding: 10px 15px;

}
.nd1khoi {
	padding: 10px;
	border: 1px solid #c2c2c2;
	color: #3c3c3c;
	background: rgba(252, 252, 252, .56);
}
.motkhoi h3:hover {
	background: url('../images/down.png') no-repeat 99% #f39c12;
}
h3.xanh {
	background-color: lightblue;
}
.motkhoi h3.xanh:hover {
	background: url('../images/up.png') no-repeat 99% lightblue;
}